/* *{
	outline:1px solid red;
} */
body, div, ul, li, h1, h2, h3, h4, h5, h6, p{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
/****************************** Header Start ****************************/
header{
	width:100%;
	height:160px;/*topBanner+headerNav*/
	overflow:hidden;/*超出部分隐藏*/
}
.topBanner{
	width:100%;
	height:120px;
	background:url(../images/topBanner3.jpg) no-repeat center center;
	background-size:cover;/*按图片比例放大图片或缩小，使图像覆盖背景区*/
	cursor:pointer;
}
.headNav{
	width:100%;
	height:40px;
	background-color:#19448e;
}
.headNavCenter{
	width:1226px;
	height:40px;
	line-height:40px;/* line-height用来表示容器的高度,height用来表示这一容器内的每行文字的高度 */
	margin:0 auto;/*0表示上下边界为0，auto表示左右根据宽度自适应相同值（即居中）*/
}
.headNavCenter ul{
	float:left;
}
.headNavCenter ul li{
	display:inline-block;/*纵向list变为横向块状*/
}
.headNavCenter ul li a, .shoppingCar span{
	color:#bbc8e6;
	transition:all 0.5s;
	cursor:pointer;
}
.headNavCenter ul span{
	color:#4d5aaf;
	margin:0 0.5em;/*em指字体高，任意浏览器的默认字体高都是16px。所以未经调整的浏览器都符合: 1em=16px*/
}
.headNavCenter ul li a:hover, .shoppingCar span:hover{
	color:#f7fcfe;
}
.login{
	float:right;
}
.shoppingCar{
	width:120px;
	height:40px;
	float:right;
	background-color:#3e62ad;
	padding-left:10px;
	margin-left:-11px;
}
/****************************** Header End ****************************/
/****************************** Nav Start ****************************/
nav{
	width:1226px;
	height:100px;
	margin:0 auto;
}
.logo{
	margin-top:22px;
	float:left;
	cursor:pointer;
}
.logo img{
	width:60px;
	height:60px;
}
.bodyNav ul{
	width:790px;
	float:left;
	margin-left:50px;
	line-height:100px;
}
.bodyNav ul li{
	display:inline-block;
	height:80px;
	padding:0 10px;
	transition:all 0.2s;
}
.bodyNav ul li:hover{
	border-bottom:3px solid #1e50a2;
}
.bodyNav ul li a{
	color:#778899;
}
.bodyNav .search{
	float:right;
	line-height:100px;
	margin-top:25px;
	position:relative;
	font-size:0;
	display:inline-block;
}
.bodyNav .search .hotWords{
	width:177px;
	position:absolute;
	top:-25px;
	height:0;
	right:60px;
	display:inline-block;
}
.bodyNav .search .hotWords a{
	font-size:12px;
	margin-left:5px;
	padding:0 5px;
	color:#0073a8;
	background-color:#bbe2f1;
	transition:all 0.3s;
	border-radius:4px;
}
.bodyNav .search .hotWords a:hover{
	background-color:#5654a2;
	color:#fff;
}
.bodyNav .search input[type="search"]{
	width:240px;
	height:50px;
	border:1px solid #89c3eb;
	float:left;
	transition:all 0.3s;
}
.bodyNav .search input[type="search"]:hover{
	border:1px solid #bbe2f1;
}
.bodyNav .search input[type="search"]:focus{
	border:1px solid #19448e;
	outline:none;/*去除input选中后的黑框*/
	color:#19448e;
	font-size:16px;
}
.bodyNav .search input[type="submit"]{
	width:50px !important;
	height:50px !important;
	border:1px solid #89c3eb;
	border-left:none;
	background-color: #fff;
	top:0;
	right:0;
	float:right;
	color:#89c3eb;
	font-size:25px;
	transition:all 0.3s;
	cursor:pointer;
}
.bodyNav .search input[type="submit"]:hover{
	background-color:#89c3eb;
	color:#fff;
}
/****************************** Nav End ****************************/
/****************************** Banner Head ****************************/
.banner{
	width:1226px;
	height:460px;
	margin:0 auto;
	position:relative;/*不会对这个元素本身有任何影响，只影响加了absolute的子元素*/
	overflow:hidden;
}
.bannerPic{
	width:7356px;/*1226*6 更宽一点也可以*/
	height:460px;
	animation:move 30s linear infinite;/*轮播图无限滚动*/
}
.bannerPic:hover{
	animation-play-state:paused;
}
@keyframes move{
	0%{
		margin-left:0;
	}
	15%{
	    margin-left:0;
	}
	20%{
		margin-left:-1226px;
	}
	35%{
	    margin-left:-1226px;
	}
	40%{
		margin-left:-2452px;
	}
	55%{
	    margin-left:-2452px;
	}
	60%{
		margin-left:-3678px;
	}
	75%{
	    margin-left:-3678px;
	}
	80%{
	    margin-left:-4904px;
	}
	95%{
	    margin-left:-4904px;
	}
	100% {
	    margin-left:-6130px;
	}
}
.bannerPic img{
	float:left;
	width:1226px;
	height:460px;
	object-fit:cover;/*保证图片原比例拉伸*/
	overflow:hidden;
}
.bannerDot{
	position:absolute;
	bottom:15px;/*相对于父元素banner的底部15px*/
	right:30px;
}
.bannerDot span{
	width:6px;
	height:6px;
	border-radius:50%;
	display:inline-block;
	border:2px solid #89c3eb;
	background-color:#19448e;
	transition:all 0.3s;
	margin:0 3px;
	opacity:0.7;
	cursor:pointer;
}
.bannerDot span:hover, .bannerDot span:first-of-type{
	border:2px solid #19448e;
	background-color:#89c3eb;
}
.menu{
	position:absolute;/*相对于父元素定位*/
	top:0;
	left:0;
	width:234px;
	height:460px;
	background-color:rgba(0,30,67,0.7);
}
.menu ul{
	height:420px;
	padding-top:20px;
}
.menu ul li{
	position:relative;
	cursor: pointer;
	height:70px;
	padding-left:15px;
}
.menu ul li:hover{
	background-color:#7a99cf;
}
.menu ul li a{
	color: #f7f6fb;
	line-height:70px;
	text-align:center;
	font-family:'Agency FB';
	font-size:23px;
}
.menu ul li span{
	position:absolute;
	right:15px;
	color:#89c3eb;
	line-height:70px;
	text-align:center;
}
.banner .bigArrow{
	position:absolute;
	top:190px;
	width:55px;
	height:80px;
	font-size:70px;
	line-height:80px;
	text-align:center;
	opacity:0.6;
	padding-right:10px;
	transition:all 0.3s;
}
.banner .bigArrow:nth-of-type(1){
	left:234px;
}
.banner .bigArrow:nth-of-type(2){
	right:0;
}
.banner .bigArrow:hover{
	background-color:#164a84;
	color:#89c3eb;
	opacity:0.7;
	cursor:pointer;
	border-radius:10px;
}
/****************************** Banner End ****************************/
/****************************** View Start ****************************/
.view{
	width:1226px;
	height:170px;
	margin:0 auto;
	margin-top:20px;
}
.view .help{
	float:left;
	width:234px;
	height:170px;
	overflow:hidden;
	text-align:center;
}
.view .help li{
	float:left;
	width:78px;
	height:85px;
	background-color:#6c9bd2;
	color:#bbe2f1;
	box-sizing:border-box;/*border变为内边框*/
	border:0.5px solid #94adda;
	cursor:pointer;
	transition:all 0.3s;
}
.view .help li:hover{
	color:#fff;
}
.view .help li span{
	height:24px;
	line-height:24px;
	display:block;
	margin-top:20px;
	font-size:20px;
}
.view .viewCg{
	float:left;
	width:992px;
	height:170px;
	margin:0;
	overflow:hidden;
}
.view .viewCg img{
	float:left;
	width:310px;
	height:170px;
	object-fit:cover;
	margin-left:20px;
	cursor:pointer;
}

/****************************** View End ****************************/
/****************************** Role Start ****************************/
.role{
	width:1226px;
	height:500px;
	margin:30px auto;
	overflow:hidden;
}
.role .title{
	width:1226px;
	height:30px;
	position:relative;
}
.role .title h2{
	width:100px;
	line-height:30px;
	text-align:center;
	font-family:'幼圆';
	color:#5383c3;
	position:absolute;
	top:0;
	left:0;
	margin:0;
}
.role span{
	line-height:25px;
	text-align:center;
	padding:auto 0;
	width:45px;
	height:25px;
	border:1px solid #89c3eb;
	position:absolute;
	top:2px;
	cursor:pointer;
	color:#89c3eb;
	font-size:20px;
	transition:all 0.3s;
}
.role span:hover{
	background-color:#89c3eb;
	color:#fff;
}
.role span:nth-of-type(1){
	right:0;
}
.role span:nth-of-type(2){
	right:45px;
}
/* .role span:hover .role ul{
	left:-812px; 
	background-color:black;
} */
/* .role span:nth-of-type(2):hover{
	animation:moveRole 1.5s ease-in-out normal alternate;
	margin-left:-812px; 
} 
 @keyframes moveRole{
	100%{
		margin-left:-812px;
	}
} */

/*图片div*/
.role ul{
	margin-top:10px;
	width:2452px;
	height:470px;
	overflow:hidden;
	transition:all 0.3s;
	/* left:0; */
}
.role ul li{
	width:396px;
	height:470px;
	margin:0 10px;
	display:inline-block;
	background-color:#f5f5f5;
	border-top:2px solid #4169e1;
	float:left;/*解决div不贴合上边界*/
}
.role ul li:nth-of-type(1){
	margin-left:0;
}
.role ul li:nth-of-type(2n+1){
	border-top:2px solid #8d6449;
}
.role ul li .rolePic{
	width:100%;
	height:70%;
	position:relative;
}
.role ul li .rolePic img{
	width:70%;
	height:90%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	object-fit:cover;
	cursor:pointer;
	transition:all 0.2s;
}
.role ul li .rolePic img:hover{
	transform:translate(-50%,-50%) scale(1.05);
	box-shadow:1px 1px 5px rgba(0,0,0,.5);
	position:absolute;/*hover也要再写一遍*/
	top:50%;
	left:50%;
}
.role ul li h3{
	font-size:15px;
	width:fit-content;
	margin:0 auto;
	text-align:center;
	font-family:'等线 Light';
	padding:2px 0;
	color:#8b4513;
	cursor:pointer;
	position:relative;
}
.role ul li h3:before{
	content:'';
	width:0;
	height:1.5px;
	position:absolute;
	left:50%;
	bottom:-1px;
	background:#8b4513;
	transition:all 0.3s;
}
.role ul li h3:hover:before{
	width:100%;
	left:0;
	right:0;
}
@keyframes underlineOpen{
	0%{
		text-decoration:none;
	}
	100%{
		text-decoration:underline;
	}
}
.role ul li p{
	width:70%;
	margin:2px auto;
	font-size:14px;
	color:#8b968d; 
}
/****************************** Role End ****************************/
/****************************** MainBody Start ****************************/
.mainBody{
	background-color:#f0f8ff;
}
.books, .sale, .music{
	width:1226px;
	height:750px;
	overflow:hidden;
	margin:10px auto;
}
.sale{
	overflow:visible;
	height:660px;
}
.music{
	margin-top:30px;
	margin-bottom:0;
}
.books .title, .sale .title, .music .title{
	width:1226px;
	height:30px;
	margin-top:80px;
	margin-bottom:20px;
}
.sale .title, .music .title{
	margin-top:25px;
}
.books .title h2, .sale .title h2, .music .title h2{
	width:100px;
	line-height:30px;
	text-align:center;
	font-family:'幼圆';
	color:#5383c3;
	float:left;
}
.books .title p, .sale .title p, .music .title p{
	float:right;
	cursor:pointer;
}
.books .title p span, .sale .title p span, .music .title p span{
	margin-left:10px;
	width:15px;
	height:15px;
	border-radius:50%;
	background-color:#5383c3;
	color:#eaf4fc;
	padding:2px 2px;
	font-size:12px;
}
.books .aside, .sale .aside, .music .aside{
	width:200px;
	height:600px;
	float:left;
	transition:all 0.3s;
}
.sale .aside{
	float:right;
}
.books .aside img, .sale .aside img, .music .aside img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.books ul, .sale ul, .music ul{
	width:1026px;
	height:600px;
	overflow:hidden;
	float:right;
}
.sale ul{
	position:relative;
	float:left;
	z-index:1;
	overflow:visible;
}
.books ul li, .sale ul li, .music ul li{
	display:inline-block;
	margin-left:32px;
	margin-bottom:20px;
	width:310px;
	height:290px;
	background-color:#fff;
	float:left;
	overflow:hidden;
	position:relative;
}
.sale ul li{
	margin-left:0;
	margin-right:32px;
	transition:all 0.3s linear;
}
.sale ul li:hover, .sale .aside:hover, .books .aside:hover, .music .aside:hover{
	z-index:2;
	transform:scale(1.03);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
	cursor:pointer;
}
.music ul li{
	width:481px;
	height:135px;
	font-family:'华文中宋';
}
.music ul li:hover{
	cursor:pointer;
}
.music ul li:nth-of-type(1),
.music ul li:nth-of-type(2),
.music ul li:nth-of-type(4),
.music ul li:nth-of-type(5),
.music ul li:nth-of-type(7),
.music ul li:nth-of-type(8){
	background:url(../images/music1.jpg);
	background-position:top;
	background-size:500px 220px;
	background-repeat:no-repeat;
	background-image:linear-gradient(to right bottom,rgba(255,255,255,1) 20%,rgba(255,255,255,0)),url(../images/music1.jpg);
}
.music ul li:nth-of-type(3){
	background:url(../images/music2.jpg);
	background-position:right;
	background-size:500px 270px;
	background-repeat:no-repeat;
	background-image:linear-gradient(to right bottom,rgba(255,255,255,1) 45%,rgba(255,255,255,0)),url(../images/music2.jpg);
}
.music ul li:nth-of-type(6){
	background:url(../images/music3.png);
	background-position:right;
	background-size:500px 270px;
	background-repeat:no-repeat;
	background-image:linear-gradient(to right bottom,rgba(255,255,255,1) 40%,rgba(255,255,255,0)),url(../images/music3.png);
}
.music ul li span{
	opacity:0;
	transition:all 0.3s;
	position:absolute;
	z-index:11;
	font-size:60px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:rgba(0,0,0,0.6);
}
.music ul li:hover span{
	opacity:1;
}
.music ul li:before{
	content:'';
	opacity:0;
	transition:all 0.3s;
}
.music ul li:hover:before{
	content:'';
	opacity:1;
	background-color:rgba(0,0,0,0.4);
	position:absolute;
	z-index:10;
	width:100%;
	height:100%;
}
.music ul li h3{
	margin-left:20px;
	margin-top:20px;
	color:#19448e;
}
.music ul li h4{
	margin-left:20px;
	margin-top:5px;
	color:#a4c1d7;
}
.books ul li img, .sale ul li img{
	height:70%;
	margin:10px auto;
	margin-top:25px;
	object-fit:cover;
	display:flex;
	justify-content:center;
	align-items:center;
}
.books ul li h3, .books ul li h4, .sale ul li h3, .sale ul li h4{
	width:fit-content;
	text-align:center;
	font-family:'等线 Light';
	color:#19448e;
	margin:3px auto;
}
.books ul li h3, .sale ul li h3
{
	font-size:14px;
}
.books ul li h4, .sale ul li h4
{
	font-size:12px;
}
.books ul li .bookDesc, .books ul li .bookPara{
	width:100%;
	height:100%;
	position:absolute;
	transition:.5s;
}
.books ul li .bookDesc{
	top:0;
	left:0;
}
.books ul li .bookPara{
	background-color:#be8f68;
	top:0;
	left:100%;
	color:#e9dacb;
}
.books ul li:hover .bookDesc{
	top:0;
	left:-100%;
}
.books ul li:hover .bookPara{
	top:0;
	left:0;
}
.books ul li .bookPara h3{
	margin-top:20px;
	margin-left:20px;
	color:#e9dacb;
}
.books ul li .bookPara hr{
	width:90%;
	height:3px;
	border-radius:50%;
	background-color:#e9dacb;
	border:0;
}
.books ul li .bookPara p{
	text-align:center;
	margin:20px 25px;
}
/****************************** MainBody End ****************************/
/****************************** Footer Start ****************************/
.about{
	width:100%;
	height:500px;
	background-color:#68a9cf;
}
.about img{
	height:500px;
	position:absolute;
	right:0;
}
.about .links{
	width:55%;
	height:500px;
	color:#bccddb;
	margin-left:30px;
	position:absolute;
	z-index:5;/*z-index生效的办法是清除浮动*/
}
.about .links ul{
	margin-top:60px;
	margin-left:10%;
	width:30%;
	height:300px;
	position:absolute;
	left:0;
	top:20px;
}
.about .links ul li{
	height:50px;
	text-align:center;
	font-size:20px;
	display:flex;
	justify-content:center;
	align-items:center;
	transition:all 0.3s;
	cursor:pointer;
}
.about .links ul li:hover{
	color:#fff;
}
.about .links ul li span{
	margin-right:10px;
	font-size:35px;
}
.about .links .survey{
	margin-top:70px;
	height:350px;
	position:absolute;
	width:55%;
	right:0;
	margin-left:5%
}
.about .links .survey dl{
	width:45%;
	height:150px;
	display:inline-block;
}
.about .links .survey dl dt{
	text-decoration:underline;
	font-size:20px;
	color:#fff;
	font-family:'Agency FB';
}
.about .links .survey dl dd{
	cursor:pointer;
	transition:all 0.3s;
	width:fit-content;
	margin:10px;
}
.about .links .survey dl dd:hover{
	color:#fff;
}
.about .slogan{
	font-size:25px;
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	position:absolute;
	z-index:5;
	margin-top:445px;
	font-family:'楷体';
	color:#89c3eb;
	transition:all 0.5s;
}
.about .slogan:hover{
	color:#fff;
}
/****************************** Footer End ****************************/