@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont-gouwuchekong.ttf?t=1677570125393&t=1677650333184') format('truetype');
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont-wxbsousuotuiguang.ttf?t=1677650333184') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont-view.ttf?t=1677731527880') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont-arrow.ttf?t=1677732830748') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont-download.ttf?t=1677736200823') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont-footer.ttf?t=1677999527809') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont-play.ttf?t=1678020536503') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-wxbsousuotuiguang:before {
  content: "\e620";	
}

.icon-shu:before {
  content: "\e62b";
}

.icon-huodong:before {
  content: "\e60f";
}

.icon-gonglve3:before {
  content: "\e64a";
}

.icon-fangzidichan:before {
  content: "\e627";
}

.icon-bi:before {
  content: "\e7c5";
}

.icon-arrow-left:before {
  content: "\e635";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-xiazai:before {
  content: "\e518";
}

.icon-newshot:before {
  content: "\e7c5";
}

.icon-iconfontzhizuobiaozhunbduan27:before {
  content: "\e6e1";
}

.icon-ziliaoshouce-xianxing:before {
  content: "\e898";
}

.icon-navicon-wzgl:before {
  content: "\e661";
}

.icon-yinle:before {
  content: "\e601";
}

.icon-bofang:before {
  content: "\e543";
}
